*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    background-color: #B9B28A;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}

button {
    color: #090909;
    padding: 0.7em 1.7em;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 3px 3px 6px #c5c5c5, -3px -3px 6px #ffffff;
}

button:active {
    color: #666;
    box-shadow: inset 2px 2px 6px #c5c5c5, inset -2px -2px 6px #ffffff;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #504B38;
    height: 20%;
    border-bottom: solid black;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B9B28A;
    height: 60%;
}

.login-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #EBE5C2;
    height: 200px;
    width: 400px;
    border: solid black;
    margin: 5px;
}
.login-div form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.login-div input{
    margin: 1px;
    border: 1px solid black;
}

.register-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #EBE5C2;
    height: 200px;
    width: 400px;
    border: solid black;
    margin: 5px;
}

.register-div form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-div input{
    margin: 1px;
    border: 1px solid black;
}

.final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #504B38;
    height: 20%;
    border-top: solid black;
}

@media screen and (max-width: 768px) {
    .welcome{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #504B38;
        height: 20%;
        border-bottom: solid black;
        font-size: 18px;
    }

    .welcome h1{
        font-size: 22px;
    }
}